a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Global Stylings */

html {
    font-size: 62.5%;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

/* Header background */

header {
    background: url(./animal-land-assets/image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Header Navbar stylings */

.headerNav {
    list-style: none;
    margin-left: 20px;
}

.headerNav li {
    float: left;
    padding: 0 20px;
    padding-top: 20px;
}

header a {
    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FCFCFC;
}

/* H1 Stylings */

header h1 {
    font-family: 'Fredericka the Great';
    font-size: 10rem;
    line-height: 100px;
    text-transform: uppercase;
    text-align: right;
    color: #FCFCFC;
    float: right;
    margin-top: 120px;
    width: 50%;
}

/* Feature Story Section Stylings */

.featureStory {
    background: #152D20;
}

/* Styling Suzie! */

.featureStory div div img {
    width: 25%;
    margin: 80px 0;
    float: left;
    /* display: block; */
}

.suzieContent {
    float: left;
    margin-top: 80px;
    margin-left: 50px;
    width: calc(75% - 50px);
}

/* Suzie content styles */

.suzieContent h2 {
    font-family: 'Fredericka the Great';
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #FCFCFC;
}

.suzieContent p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.9rem;
    color: #FCFCFC;
    padding-top: 15px;
    margin-bottom: 50px;
}

.suzieContent a {
    font-family: 'Cormorant Garamond';
    font-size: 1.8rem;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#FCFCFC;
    color: #152D20;
    border: 3px solid #FCFCFC;
}

.suzieContent a:hover {
    border: 3px solid #152D20;
}

/* Friends section styling */

.ourFriends {
    background: #C3D3CB;
}

.ourFriends div h2 {
    font-family: 'Fredericka the Great';
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #000000;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
}

.ourFriends div img {
    float: left;
    width: calc((100% - 80px) / 3);
    margin-bottom: 80px;
}

.middleFriend {
    margin: 0 40px;
}

/* Secondary mid-screen Nav styling */

.secondNav {
    background:#152D20;
}

.secondNav div > div {
    float: left;
    margin: 60px 0;
    padding: 0 80px;
    width: 33%;
    text-align: center;
}

.secondNav i, a {
    color: #FCFCFC;
}

.secondNav i {
    font-size: 6rem;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.secondNav a {
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 4rem;
}

/* Article section styling */

.articles {
    background-color: #FCFCFC;
}

.articles img {
    max-width: 100%;
    display: block;
}

.zebraFacts,
.kittyFacts {
    float: left;
    width: 50%;
}

.articles h3 {
    font-family: 'Fredericka the Great';
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 100px 100px 20px 40px;
    width: 80%;
}

.articles p {
    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    padding: 0 100px 60px 110px;
    line-height: 2.9rem;
}

.articles a {
    font-family: 'Cormorant Garamond';
    font-size: 1.8rem;
    padding: 10px 20px;
    margin-left: 105px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#152D20;
    color: #FCFCFC;
    border: 3px solid #152D20;
}

.articles a:hover {
    border: 3px double #FCFCFC;
}

/* footer stylings */

footer {
    background: #152D20;
}

footer div nav,
footer div div {
    float: left;
    /* width: calc(100% / 3); */
}

footer div nav {
    padding: 80px 0;
    width: 25%;
}

footer div nav a {
    display: block;
    font-family: 'Cormorant Garamond';
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 5px;
}

/* Form Stylings */

.subscribeForm {
    width: 50%;
}

.subscribeForm h5,
.subscribeForm p {
    color: #FCFCFC;
    text-align: center;
}

.subscribeForm h5 {
    font-family: 'Cormorant Garamond';
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 80px 0px 10px;
}

.subscribeForm p {
    font-family: 'Roboto';
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.subscribeForm input[type="email"] {
    width: 70%;
    float: left;
    font-family: 'Roboto';
    font-size: 1.6rem;
    padding: 10px 20px 11px;
    border: none;
}

.subscribeForm input[type="submit"] {
    width: 30%;
    color: #FCFCFC;
    background: #000000;
    font-family: 'Cormorant Garamond';
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px;
    border: none;
}

.subscribeForm input[type="submit"]:hover {
    background: #FCFCFC;
    color: #000000;
}

/* Contact Stylings */

.contactUs {
    width: 25%;
}

.contactUs h5 {
    font-family: 'Cormorant Garamond';
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #FCFCFC;
    text-align: right;
    margin: 80px 0 10px;
}

.contactUs p {
    font-family: 'Roboto';
    font-size: 1.6rem;
    color: #FCFCFC;
    text-align: right;
    line-height: 2.5rem;
}

.contactUs span {
    display: block;
}

/* copyright stylings */

.copyright {
    background: #000000;
}

.copyright p {
    font-family: 'Roboto';
    font-size: 1.6rem;
    color: #fcfcfc;
    text-align: center;
    padding: 15px 0 30px;
}

/* Responsive Media Queries */

/* Desktop View */

@media (max-width: 1350px) {
    .suzieContent p {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 30px;
    }

    .ourFriends div h2 {
        padding: 50px 0;
    }

    .articles h3 {
        font-size: 3rem;
        width: 100%;
        padding-top: 40px;
        padding-left: 90px;
        padding-right: 0px;
    }

    .articles p {
        line-height: 2rem;
        padding: 0px 90px 30px;
    }

    .articles a {
        margin-left: 88px;
    }
}

/* Small Laptop and Tablet View */

@media (max-width: 975px) {

    header {
        max-height: 90vh;
        background-size: cover;
        background-position: center;
    }

    header section div h1 {
        width: 40%;
        font-size: 5rem;
        line-height: 5rem;
        margin-top: 0;
        padding-top: 50px;
    }

    .featureStory > div {
        padding-bottom: 40px;
    }

    .suzieContent h2 {
        font-size: 2.8rem;
    }
    .suzieContent a {
        font-size: 1.5rem;
        padding: 5px 10px;
    }

    .ourFriends div h2 {
        width: 80%;
    }

    .secondNav div div {
        padding: 0;
    }

    .secondNav div a {
        font-size: 2.5rem;
    }

    .zebraFacts,
    .kittyFacts {
        width: 100%;
        margin: 10px auto 50px;
    }

    .zebrasFloat,
    .kittyFloat {
        float: left;
        margin: 0 auto;
        width: 50%;
    }


    footer div .footernav,
    footer div .subscriberForm,
    footer div .contactUs {
        float: none;
    }

    .footernav {
        width: 100%;
        padding: 40px  0;
        margin: 0 auto;
        text-align: center;
    }

    .footernav a {
        display: inline-block;
        font-size: 1.5rem;
        padding: 0 20px;
    }

    .subscribeForm {
        width: 100%;
    }

    .subscribeForm h5 {
        margin: 0px 0px 20px;
    }

    .subscribeForm input[type=email] {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .subscribeForm input[type=submit] {
        width: 100%;
        font-weight: bold;
        margin-bottom: 30px;
    }

    footer .contactUs {
        width: 100%;
    }

    footer .contactUs h5,
    footer .contactUs p {
        text-align: center;
    }

    footer .contactUs p {
        padding-bottom: 30px;
    }
}

/* Mobile View */

@media (max-width: 600px) {
    .headerNav {
        display: none;
    }

    .hamburger {
        display: block;
        float: right;
        text-align: right;
        color: #FCFCFC;
        font-size: 3.5rem;
        margin-top: 10px;
    }

    header section div h1 {
        float: none;
        font-size: 3rem;
        line-height: 3rem;
        text-align: left;
        padding-top: 10px;
        margin-left: -20px;
        display: block;
    }

    .featureStory > div > div {
        float: none;
    }

    .featureStory div div img {
        float: none;
        width: 100%;
    }

    .suzieContent {
        width: 100%;
        margin: 0 auto;
    }

    .suzieContent p {
        line-height: 3rem;
        margin: 0 auto 30px;
    }

    .suzieContent a {
        margin-left: 120px;
        display: inline-block;
    }

    .ourFriends div div h2 {
        font-size: 3.5rem;
        line-height: 5rem;
        padding: 30px 0;
    }

    .ourFriends div div img:nth-child(3) {
        display: none;
    }

    .ourFriends div div img {
        margin-bottom: 30px;
        width: calc(50% - 10px);
    }

    .middleFriend {
        margin-left: 20px;
        margin-right: 0px;
    }

    .secondNav div div {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .secondNav div div:first-child {
        padding-top: 30px;
    }

    .zebrasFloat,
    .kittyFloat {
        width: 100%;
        float: none;
    }

    .footernav a {
        padding: 5px;
    }
}